@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.section_padding {
  padding: 20px 236px;
}
/* .......................
header section starts here
........................ */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
nav ul li a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #3c354f;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.follow_on a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 56px;
  flex-shrink: 0;
  gap: 20px;
}
nav ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
/* 
banner section starts here */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/Group\ 14.png");
  gap: 100px;
}
.banner-content {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  color: #0b0223;
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-name {
  font-size: 83px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-features {
  color: #534c64;
  font-size: 17.5px;
  font-weight: 500;
  text-transform: lowercase;
}
.banner-feature {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
}
.banner-buttons a {
  margin-top: 36px;
  display: inline-flex;
  text-decoration: none;
  color: #fff;
}
.primary-btn {
  padding: 18px 35px;
  font-size: 17.5px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 42px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
}
.secondary-btn {
  padding: 18px 35px;
  font-size: 17.5px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 42px;
  background: #4ec5f7;
}

/* .......................
header section ends here
........................ */

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .section_padding {
    padding: 18px 170px;
  }
  .banner-image {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .section_padding {
    padding: 15px 120px;
  }
  .nav-title {
    margin-bottom: 20px;
  }

  nav ul li {
    margin-bottom: 3px;
  }
  nav ul li a {
    padding: 5px 5px;
    border-radius: 5px;
  }
  .follow_on {
    margin-top: 20px;
  }
  .follow_on a {
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
  }
  .banner-image {
    max-width: 90%;
  }
  .banner-title {
    font-size: 36px;
  }
  .banner-name {
    font-size: 70px;
  }
  .primary-btn,
  .secondary-btn {
    padding: 15px 30px;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  .section_padding {
    padding: 5px 30px;
  }
  nav {
    gap: 40px;
  }
  .nav-title {
    margin-bottom: 20px;
  }

  nav ul li {
    margin-bottom: 3px;
  }
  nav ul {
    gap: 10px;
  }
  nav ul li a {
    padding: 5px 5px;
    border-radius: 5px;
  }
  .follow_on {
    margin-top: 20px;
  }
  .follow_on a {
    padding: 10px 10px;
    border-radius: 5px;
    gap: 6px;
    width: 220px;
    height: 40px;
  }
  .banner-image {
    max-width: 90%;
  }
  .banner-title {
    font-size: 30px;
  }
  .banner-name {
    font-size: 60px;
  }
  .primary-btn,
  .secondary-btn {
    padding: 12px 25px;
  }
}

@media screen and (max-width: 576px) and (min-width: 320px) {
  .section_padding {
    padding: 5px 22px;
  }
  nav {
    flex-direction: column;
  }
  .nav-title {
    margin-bottom: 20px;
  }

  nav ul li {
    margin-bottom: 3px;
  }
  nav ul {
    gap: 3px;
    flex-direction: column;
  }
  nav ul li a {
    padding: 2px 3px;
    border-radius: 5px;
  }
  .follow_on {
    margin-top: 20px;
  }
  .follow_on a {
    padding: 5px 5px;
    border-radius: 5px;
    gap: 6px;
    width: 200px;
    height: 37px;
  }
  .banner {
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
  }
  .banner-image {
    max-width: 90%;
    gap: 20px;
  }
  .banner-title {
    font-size: 25px;
  }
  .banner-name {
    font-size: 45px;
  }

  .primary-btn,
  .secondary-btn {
    padding: 10px 20px;
  }
}
