@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.section_padding {
  padding: 20px 236px;
}
/* .......................
header section starts here
........................ */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
nav ul li a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #3c354f;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.follow_on a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 56px;
  flex-shrink: 0;
  gap: 20px;
}
nav ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
/* 
banner section starts here */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/Group\ 14.png");
  gap: 100px;
}
.banner-content {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  color: #0b0223;
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-name {
  font-size: 83px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-features {
  color: #534c64;
  font-size: 17.5px;
  font-weight: 500;
  text-transform: lowercase;
}
.banner-feature {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
}
.banner-buttons a {
  margin-top: 36px;
  display: inline-flex;
  text-decoration: none;
  color: #fff;
}
.primary-btn {
  color: #fff;
  padding: 18px 35px;
  font-size: 17.5px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 42px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  border: none;
}
.secondary-btn {
  padding: 18px 35px;
  font-size: 17.5px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 42px;
  background: #4ec5f7;
  border: none;
}
/* .......................
banner section ends here
........................ */

/* .......................
header section ends here
........................ */

/* .......................
we are gamer section starts here 
........................ */
.we_are_gamer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.we_are_gamer-content {
  text-align: right;
}
.we_are_gamer-image {
  width: 592px;
  height: 347px;
  flex-shrink: 0;
}
.we_are_gamer-title {
  font-size: 37px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.we_are_gamer-para {
  color: #534c64;
  font-size: 15px;
  line-height: 26px; /* 166.667% */
  /* display: inline-block;
width: 455px; */
  width: 100%;
  margin: 21px 0px 28px 0px;
}

.our-purpose {
  width: 100%;
  color: #534c64;
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
}
.our-purpose span {
  color: #534c64;
  font-size: 21px;
  font-weight: 500;
  line-height: 39px; /* 187.5% */
}

/* .......................
we are gamer section starts here 
........................ */

/* ...............................
funny videos section starts here 
............................... */

.section-title {
  color: #0b0223;
  text-align: center;

  font-size: 42px;
  font-weight: 700;
}
.section-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 42px;
  font-weight: 700;
}
.section-para{
  color: #534C64;
text-align: center;
font-size: 15px;
line-height: 26px; /* 166.667% */
padding: 20px 0px 42px 0px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  position: relative;
}
.play {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    lightgray 50% / cover no-repeat;
}
.card-image {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.card {
  border-radius: 12px;
  border: 3px solid var(--Linear, #ff42a5);
}

.play-me {
  position: absolute;
  top: 52%;
  left: 60%;
  text-align: center;
}
.card-para {
  padding: 20px 0px;
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.play-me-text{
  text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .section_padding {
    padding: 40px 130px;
  }
  .banner-image {
    max-width: 100%;
  }
  .we_are_gamer-image {
    width: 100%;
    height: 100%;
  }
  .play-me {
   
    top: 45%;
    left: 55%;
    text-align: center;
  }
  .cards {
    gap: 5px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .section_padding {
    padding: 15px 120px;
  }
  .nav-title {
    margin-bottom: 20px;
  }

  nav ul li {
    margin-bottom: 3px;
  }
  nav ul li a {
    padding: 5px 5px;
    border-radius: 5px;
  }
  .follow_on {
    margin-top: 20px;
  }
  .follow_on a {
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
  }
  .banner-image {
    max-width: 90%;
  }
  .banner-title {
    font-size: 36px;
  }
  .banner-name {
    font-size: 70px;
  }
  .primary-btn,
  .secondary-btn {
    padding: 15px 30px;
  }
  .we_are_gamer {
    flex-direction: column;
  }
  .we_are_gamer-image {
    width: 100%;
    height: 100%;
  }
  .play-me {
   
    top: 28%;
    left: 78%;
  }
  .cards {
  
    gap: 10px;
    position: relative;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  .section_padding {
    padding: 5px 30px;
  }
  nav {
    gap: 40px;
  }
  .nav-title {
    margin-bottom: 20px;
  }

  nav ul li {
    margin-bottom: 3px;
  }
  nav ul {
    gap: 10px;
  }
  nav ul li a {
    padding: 5px 5px;
    border-radius: 5px;
  }
  .follow_on {
    margin-top: 20px;
  }
  .follow_on a {
    padding: 10px 10px;
    border-radius: 5px;
    gap: 6px;
    width: 220px;
    height: 40px;
  }
  .banner-image {
    max-width: 90%;
  }
  .banner-title {
    font-size: 30px;
  }
  .banner-name {
    font-size: 60px;
  }
  .primary-btn,
  .secondary-btn {
    padding: 12px 25px;
  }
  .we_are_gamer {
    flex-direction: column;
  }
  .we_are_gamer-image {
    width: 100%;
    height: 100%;
  }
  .play-me {
   
    top: 68%;
    left: 18%;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
  }
}

@media screen and (max-width: 576px) and (min-width: 320px) {
  .section_padding {
    padding: 5px 22px;
  }
  nav {
    flex-direction: column;
  }
  .nav-title {
    margin-bottom: 20px;
  }

  nav ul li {
    margin-bottom: 3px;
  }
  nav ul {
    gap: 3px;
    flex-direction: column;
  }
  nav ul li a {
    padding: 2px 3px;
    border-radius: 5px;
  }
  .follow_on {
    margin-top: 20px;
  }
  .follow_on a {
    padding: 5px 5px;
    border-radius: 5px;
    gap: 6px;
    width: 200px;
    height: 37px;
  }
  .banner {
    margin-top: 20px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-image {
    max-width: 90%;
    gap: 20px;
  }
  .banner-title {
    font-size: 25px;
  }
  .banner-name {
    font-size: 45px;
  }

  .primary-btn,
  .secondary-btn {
    padding: 10px 20px;
  }
  .we_are_gamer {
    flex-direction: column;
  }
  .we_are_gamer-image {
    width: 100%;
    height: 100%;
  }
  .play-me {
   
    top: 64%;
    left: 35%;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    position: relative;
  }
}
